<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit details</li>
    </ol>
</nav>


<h2>Edit details</h2>

<form class="row g-3 needs-validation" method="POST" action="/addUser" novalidate>
    {{>user-form}}
</form>
