<table class="table table-light table-bordered table-striped table-hover" style="overflow-x: auto">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Latest Degree</th>  
            <th scope="col">Major</th>
            <th scope="col">CGPA (/10)</th>
            <th scope="col">Domain Skills</th>
            <th scope="col">Graduation year</th>
            <th scope="col">Achievements</th>
            <th scope="col">E-Mail ID</th>
            <th scope="col">Contact No.</th>
            <th class="text-end" style="width:1px; white-space:nowrap;">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>B.Sc</td>
            <td>Chemistry</td>
            <td>8.9</td>
            <td>Organic Chemistry, Reactions</td>
            <td>2022</td>
            <td>Teaching Assistant (2018-19)</td>
            <td>ottomatic@gmail.com</td>
            <td>1126722872</td>
            <td class="text-end" style="width:1px; white-space:nowrap;">
                <a href="#" type="button" class="btn btn-light btn-small"> <i class="bi bi-eye"></i></a>
                <a href="#" type="button" class="btn btn-primary btn-small"> <i class="bi bi-pencil"></i></a>
                <a href="#" type="button" class="btn btn-danger btn-small"> <i class="bi bi-trash"></i></a>
            </td>
        </tr>

    </tbody>
</table>